body {
    background-color: #2d3436;
    color: white;
    height: 100%; 
    overflow: hidden
}


#chat {
    margin: auto;
  height: 50em;
  overflow-y:scroll;
}

.selected {
    color: gold;
}
.ooer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width:100%;
    height: auto;
}

#server-sidebar {
    background-color: #636e72;
    height: 100vh;
    overflow-y: scroll;
}

#channel-sidebar {
    background-color: #454d50;
    height: 100vh;
    overflow-y: scroll;
}

.u-img {
    width: auto;
    height: 70px;
    margin-right: 10px;
} 

.u-name {
    display: inline;
    vertical-align: top;
}

.u-content {
    position: absolute; /*or fixed*/
    right: 0px;
}

ul {
    overflow-y: scroll;
}



p {
    display:inline;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #51595c; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111213; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #252729; 
  }

