#overlay {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d3436;
    z-index: 2;
  }

  #orangeBox {
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
  }

  #settings-sidebar {
      background-color: #1e2224;
      height: 100em;
  }

  .nestedParent {
      color: grey;
      display: inline;
  }

 #haschanged{
    display: none;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #636e72;
    border-radius: 25px;
 }

 #haschanged h4 {
    margin-left: 15px;
    margin-right: 15px;
 }

 .peepee {
     margin: 15px;
 }

